{erl_opts, [debug_info]}.
{deps, [{lager, "3.2.1"},
	{recon, "2.2.1"},
	    {slacker,".*",{git,"git://github.com/julienXX/slacker.git",{branch,"master"}}},
	{lager_syslog, {git, "git://github.com/basho/lager_syslog.git", {tag, "3.0.1"}}}]}.

{relx, [{release, { vernedb, "0.1.0" },
         [ 
  	   {lager,load},
	   {recon,load},
	   {slacker,load},
	   {lager_syslog, load},
          sasl,vernedb]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, true},

        {extended_start_script, true}]
}.

{overrides, [
             {override, jobs, [{deps, [{parse_trans, "2.9.0"}]}]},
             {override, sext, [{src_dirs, ["src"]}]}
            ]}.


{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
