{erl_opts, [debug_info]}.
{deps, [{lager, "3.0.2"},
	{lager_syslog, {git, "git://github.com/basho/lager_syslog.git", {tag, "3.0.1"}}},
	{eleveldb, {git, "git://github.com/erlio/eleveldb.git", {branch, "develop"}}}]}.

{relx, [{release, { vernedb, "0.1.0" },
         [vernedb,
  	   {lager,load},
	   {lager_syslog, load},
	  eleveldb,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
