{erl_opts, [debug_info]}.
{deps, [{lager, "3.2.1"},
	{lager_syslog, {git, "git://github.com/basho/lager_syslog.git", {tag, "3.0.1"}}},
	{plumtree, {git, "git://github.com/erlio/plumtree.git", {branch, "master"}}}]}.

{relx, [{release, { vernedb, "0.1.0" },
         [ {time_compat, load},
  	   {lager,load},
	   {lager_syslog, load},
	  plumtree,
          sasl,vernedb]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{overrides, [
             {override, jobs, [{deps, [{parse_trans, "2.9.0"}]}]},
             {override, sext, [{src_dirs, ["src"]}]}
            ]}.


{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
